<div class="contenedor">
  <button type="button" class="btn btn-dark agregar" (click)="openModalAgregar()">Agregar <i class="fa fa-plus"></i></button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Marca</th>
        <th scope="col">Submarca</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf= "displayProgressBar">
        <th colspan='5'>
          <ngb-progressbar type="dark" [value]="100" [striped]= true [animated]= true></ngb-progressbar>
        </th>
      </tr>
      <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
        <th scope="row">{{auto._id}}</th>
        <td>
          {{ auto.marca }}
        </td>
        <td>{{ auto.submarca }}</td>
        <td>{{ auto.modelos | formatoModelos }}</td>
        <td (click)="openModalConfirmEliminar(auto)"><i class="fa fa-trash"></i></td>
        <td (click)="openModalEditar(auto)"><i class="fa fa-edit"></i></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos?.length"></ngb-pagination>

</div>