
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Modelo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td>
        {{ auto.marca }}
      </td>
      <td>{{ auto.submarca }}</td>
      <td>{{ auto.modelo }}</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="autos.length"></ngb-pagination>
  
